@media screen and (max-width : 1400px){

    #home{
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
      }
    #contact,
    #projects {
    height: fit-content;
    }

   
}

@media screen and (max-width : 1200px){

    .navigation{
        display: none;
    }
    #hamburger-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      #skills,
      .large-container {
        margin-top: 2rem;
      }

      #home,.about-container {
        display: block;
    }
    .arrow {
        display: none;
      }

      section,.about-container{
        display: block;
      }
    section {
    margin: 0 5%;
    }
    .about-img{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-card{
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
#contact,
  footer {
    height: 40vh;
  }

  #home {
    height: 83vh;
    margin-bottom: 0;
  }

  footer .list-elements {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-card,.contactInfoUpperContainer,.btns{
    flex-wrap: wrap;
  }
  .contactInfoContainer{
    margin: 0;
  }
  .contactInfoContainer p,.list-elements li a{
    font-size: 1rem;
  }

  .large-container .list-elements h2{
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }

  .list-elements{
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .profile-pic {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }
}

